html {
	background-color: #1B1C22;
	scroll-behavior: smooth;

}

body { margin:0;
padding:0 }
p {
	padding: 1vw;
	color: whitesmoke;
	text-align: center;
}

a:link { color: white; 
text-decoration: none;
font-family: sans-serif;}  

a:visited { color: purple; }

.initialGreeting {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;
	background-color: #1B1C22;
	border-radius: 3vw;
	font-size: 9vw;
	margin-bottom: 10vh;

	
}

@keyframes hi {
	0% {opacity: 0%;}
	100%{opacity: 100%}
  
}

.hi{

	color: #D32222;
	background-color: #1B1C22;
	padding: 1vw;
	padding-left: 40vw;
	font-size: 1em;
	
  	
}
@keyframes nameIntro {
	0% {opacity: 0%;
		color: white;}
	100%{opacity: 100%;
		color: white;}
  
}

.nameIntro {

	color: #1B1C22;
	background-color: #1B1C22;
	padding: 1vw;
	min-height: 20vw;
	padding-left: 45vw;
	font-size: 1.1em;
	animation-name: nameIntro;
	animation-delay: 1s;
  	animation-duration: 3s;
  	animation-fill-mode: forwards;
}


#facePic {
	max-height: 75vw;
	max-width: 275vw;
	border-radius: 50%;
	margin-top: 10vw;
}
.attributeAnimations {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 7vw;
	font-size: 32px;
	

}

@keyframes headerAttributeBox1Animation {
  0% {margin-right: 0vw;
     animation-timing-function: ease-in;}
  25% {margin-right: 20vw;
     animation-timing-function: ease-in;}
  50%   {margin-right: 40vw;
     animation-timing-function: ease-in;}
  75%   {margin-right: 60vw;
     animation-timing-function: ease-in;}
  100% {margin-right: 85vw;
   	 animation-timing-function: ease-in;
 	background-color: #F0FFFF;
 	}
  
}

.headerAttributeBox1 {
	display: flex;
	width: 100vw;
	padding: 1vw;
	border-radius: 5vw;
	justify-content: flex-end;
	margin: 1.5vw;
	animation-name: headerAttributeBox1Animation;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
  	
	
}

@keyframes headerAttributeBox2Animation {
  0% {margin-right: 0vw;
     animation-timing-function: ease-in;}
  25% {margin-right: 10vw;
     animation-timing-function: ease-in;}
  50%   {margin-right: 20vw;
     animation-timing-function: ease-in;}
  75%   {margin-right: 30vw;
     animation-timing-function: ease-in;}
  100% {margin-right: 42.5vw;
     animation-timing-function: ease-in;
 	background-color: #DAEDFB;}
 

  
}

.headerAttributeBox2 {
	display: flex;
	width: 92vw;
	justify-content: flex-end;
	padding: 1.5vw;
	margin: 1.5vw;
	border-radius: 5vw;
	animation-name: headerAttributeBox2Animation;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
  	
}

@keyframes headerAttributeBox3Animation {
  0% {opacity: 0%;
  	margin-left: -2.5vw;}
  25% { opacity: 25%;
  margin-left: -5vw;}
   50% { opacity: 50%;
   margin-left: -7.5vw;}
    75% { opacity: 75%;}
     100% { opacity: 100%;
     margin-left: -12vw;}
 	}


.headerAttributeBox3 {
	display: flex;
	width: 100vw;
	padding: 1vw;
	border-radius: 5vw;
	justify-content: flex-end;
	animation-name: headerAttributeBox3Animation;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
  	background-color: #91CAF3;
  	margin: 1.5vw;

}

#greetingBoxBtn {
	width: 50vw;
	height: 12vw;
	padding: 2vw;
	margin-left: 25vw;
	border-style: solid;
	border-color: orange;
	background-color:  #272932;
	color: orange;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 1vw;
	text-align: center;
	box-shadow: 0px 11px 14px -7px red;
	
}



.aboutMeHeader{
	display: flex;
	background-color: #1B1C22;
	width: 100vw;
	margin-left: 3vw;
	margin-top: ;

}
.headerBtns {
	height: 15vw;
	background-color: #272932;
	color: white;
	padding: 2vw;
	border-style: solid;
	border-width: .1vw;
	border-color: #363945 ;
	width: 25vw;
}
.selfieContainer {
	display: flex;
	flex-direction: column;
	margin-right: 10vw;
	font-size: 13vw;

}

#facePic {	
	min-width: 50vw;
	max-width: 50vw;
	align-self: flex-end;
	border-radius:5vw;
	box-shadow: -7px -10px 0px -1px #7F106D;
}

.aboutMeHeaderStyling{
	padding: 2vw;
	color: whitesmoke;
	border-style: solid;
	border-color: #1B1C22 #1B1C22 white;
	width: 50vw;
	font-size: .5em;
}

.skillBubblesContainer {
	display: flex;
	color: white;
	height: 85vw;
	width: 100vw;
	flex-direction: column-reverse;
	margin-left: 3.2vw;

}

.skillsPyramidBtm {
	display: flex;
	width: 100vw;
	height: 15vw;
	justify-content: center;
	margin-bottom: 3vw;
}

.htmlSkillBubble {
	width: 50vw;
	height: 6vh;
		background-color: lightcoral;

}

.CSSSkillBubble {
		width: 50vw;
	height: 6vh;
	background-color: lightslategray;

}

.skillsPyramidTier2 {
	display: block;
	height: 5vh;

}


.jsSkillBubble {
	display: flex;
	width: 97.75vw;
	height: 20vw;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	background-color: lightblue;

}




.skillsPyramidTier3 {
	display: flex;
	background-color: lightcoral;
	height: 25vh;
	align-items: flex-end;
}





.gitSkillBubble {
	display: flex;
	border-style: solid;
	border-color: whitesmoke;
	border-radius: 50vw;
	width: 17vw;
	height: 17vw;
	justify-content: center;
	align-items: center;
	padding: 1vw;


}


.figmaSkillBubble {
	display: flex;
	border-style: solid;
	border-color: whitesmoke;
	border-radius: 50vw;
	width: 17vw;
	height: 17vw;
	justify-content: center;
	align-items: center;
	padding: 1vw;


}


.projectsHeader {
	border-style: solid none none;
	border-color: white;
	width: 51vw;
	padding: 2vw;
	text-align: left;
	color: white;
	font-size: 1.5em;
	margin-left: 52vw;
	margin-top: 10vw;
	
}

.projectsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}
#pics {

	height: 60vw;
	max-width: 75vw;
	padding: 1.5vw;
	margin-left: 11vw;

	
}

.projectDescriptions {
	font-size: 9vw;
	padding: 3vw;
}

.newDiv {
	width: 85vw;
	padding: 1vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 3vw;




}
.projectDescriptions {
	color: white;
	text-align: center;
	padding: 1.5vw;
	margin-left: 11vw;
}
.projectInfoContainers {
	border-style: solid;
	border-color: white;
	opacity: .5;
	align-self: center;
	margin-bottom: 20vw;
}

.languageIconContainer{
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 80vw;
	font-size: 5vw;



}

.languageIcons {
	width: 15vw;
	height: 15vw;
	padding: 2vw;
	padding-top: 3.5vw;

}

.projectBtnsContainer {
	display: flex;
	flex-direction: column;
	color: white;
	text-align: left;
	border-style: none none solid;
	border-color: white;
	border-width: 1vw;
	width: 90vw;
 	padding-bottom: 1vh;



}


.linkDivs{
	color: white;
	border-style: solid;
	border-color: #FF2E00 #1B1C22;
	padding: 2vw;
	margin: 1vw;
	align-self: flex-end;
}
.contactMeHeader {
	display: flex;
	justify-content: space-evenly;
	border-style: none none solid;
	border-color: white;
	width: 100vw;
	padding: 3vw;
	color: white;


}
.contactMeContainer {
	border-style: solid;
	border-color: white;
	color: white;
	text-align: center;
	padding: 4vw;
	width: 100vw;
}

#toTopBtn {
	width: 25vw;
	height: 10vw;
	align-self: flex-end;
	margin-left: 34vw;
}

.contactMeForm {
	display: grid;
	border-style: solid;
	border-color: white;
	justify-content: center;
}

label {
	color: white;
	margin-top: 1vw;
}

input {
	height: 10vw;
	margin: 2vw 0 1.5vw 0;
}
input[type=text] {
	height: 20vw;
	margin-bottom: 4vw;

}

#contactMeSubmitBtn {
	width: 70vw;
	height: 15vw;
	margin-bottom: 3vw;
	border-radius: 1.5vw;
}
.socialLinks {
	display:flex;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	border-style: solid;
	border-color: white;
	color: white;
	height: 20vw;
}

svg {
	height: 13vw;
	width: 13vw;
	padding: 1vw;
}

.githubIcon {
	padding: 1vw;
	height: 15vw;
	width: 20vw;

}