html {
	background-color: #1B1C22;
	scroll-behavior: smooth;

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 


}

body { margin:0;
padding:0 }
p {
	padding: 1vw;
	color: whitesmoke;
	text-align: center;
}

a:link { color: white; 
text-decoration: none;
font-family: sans-serif;}  

a:visited { color: white;
width: 25%; }



.initialGreeting {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;
	background-color: #1B1C22;
	border-radius: 3vw;
	font-size: 9vw;
	margin-bottom: 10vh;

	
}

@keyframes hi {
	0% {opacity: 0%;}
	100%{opacity: 100%}
  
}

.hi{
	color: #D32222;
	background-color: #1B1C22;
	padding: 1vw;
	padding-left: 40vw;
	font-size: 1.25em;
	
  	
}
@keyframes nameIntro {
	0% {opacity: 0%;
		color: white;}
	100%{opacity: 100%;
		color: white;}
  
}

.nameIntro {

	color: #1B1C22;
	background-color: #1B1C22;
	padding: 1vw;
	margin-bottom: 3vw;
	text-indent: 45vw;
	font-size: 1.1em;
	animation-name: nameIntro;
	animation-delay: 1s;
  	animation-duration: 3s;
  	animation-fill-mode: forwards;

}



.attributeAnimations {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 7vw;
	font-size: 32px;
	

}

@keyframes headerAttributeBox1Animation {
  0% {margin-right: 0vw;
     animation-timing-function: ease-in;}
  25% {margin-right: 20vw;
     animation-timing-function: ease-in;}
  50%   {margin-right: 40vw;
     animation-timing-function: ease-in;}
  75%   {margin-right: 60vw;
     animation-timing-function: ease-in;}
  100% {margin-right: 85vw;
   	 animation-timing-function: ease-in;
 	background-color: #A3148C;
 	}
  
}

.headerAttributeBox1 {
	display: flex;
	width: 100vw;
	padding: 1vw;
	border-radius: 5vw;
	justify-content: flex-end;
	margin: 1.5vw;
	animation-name: headerAttributeBox1Animation;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
  	
	
}

@keyframes headerAttributeBox2Animation {
  0% {margin-right: 0vw;
     animation-timing-function: ease-in;}
  25% {margin-right: 10vw;
     animation-timing-function: ease-in;}
  50%   {margin-right: 20vw;
     animation-timing-function: ease-in;}
  75%   {margin-right: 30vw;
     animation-timing-function: ease-in;}
  100% {margin-right: 42.5vw;
     animation-timing-function: ease-in;
 	background-color: #91127C;}
 

  
}

.headerAttributeBox2 {
	display: flex;
	width: 92vw;
	justify-content: flex-end;
	padding: 1vw;
	margin: 1.5vw;
	border-radius: 5vw;
	animation-name: headerAttributeBox2Animation;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
  	
}

@keyframes headerAttributeBox3Animation {
  0% {opacity: 0%;
  	margin-left: -2.5vw;}
  25% { opacity: 25%;
  margin-left: -5vw;}
   50% { opacity: 50%;
   margin-left: -7.5vw;}
    75% { opacity: 75%;}
     100% { opacity: 100%;
     margin-left: -12vw;}
 	}


.headerAttributeBox3 {
	display: flex;
	width: 100vw;
	padding: 1vw;
	border-radius: 5vw;
	justify-content: flex-end;
	animation-name: headerAttributeBox3Animation;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
  	background-color: #7F106D;
  	margin: 1.5vw;

}


#greetingBoxBtn {
	
}


 

.aboutMeHeader{
	display: flex;
	color: white;
	font-size: 2em;
	justify-content: center;

}
.headerBtns {
	height: 15vw;
	background-color: #272932;
	color: white;
	padding: 2vw;
	border-style: solid;
	border-width: .1vw;
	border-color: #363945;
	width: 100%;



}

.x {
	width: 25%;
}

.selfieContainer {
	display: flex;
	flex-direction: column-reverse;
	margin-right: 10vw;


}

.facePic {	
	min-width: 40vw;
	max-width: 40vw;
	align-self: flex-end;
	border-radius:5vw;
	margin-top: 10vw;
	box-shadow: -7px -10px 0px -1px #7F106D;
}

.aboutMeHeaderStyling{
	padding: 2vw;
	color: whitesmoke;
	border-style: solid;
	border-color: #1B1C22 #1B1C22 white;
	width: 50%;
	font-size: .5em;
}
.aboutMeBlurbHeader {
	font-size: 1.15em;
	padding-left: 1.5vw;
}

  .aboutMeBlurbWrap {
   	min-width: 25vw;
		min-height: 17vh;
		max-width: 80vw;
		max-height:60vh;
   	background-color: darkgrey;
   	margin-left: 0;
   	margin-top: 10vw;
   	border-radius: 10px;
   	align-self: flex-end;
   	font-size: 1em;



   }
.skillBubblesContainer {
	display: flex;
	color: white;
	box-shadow:  -2px 11px 13px -6px white;
	height: 85vw;
	width: 100vw;
	flex-direction: column-reverse;
	margin-left: 3.2vw;

}

.skillsPyramidBtm {
	display: flex;
	width: 100vw;
	height: 15vw;
	justify-content: center;
	margin-bottom: 3vw;
}

.htmlSkillBubble {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50vw;
	height: 6vh;
	background-color: #283618;
	border-bottom-left-radius: 5vw;


}

.CSSSkillBubble {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50vw;
	height: 6vh;
	background-color: #3581B8;
	border-bottom-right-radius: 5vw;


}

.skillsPyramidTier2 {
	display: flex;
	min-height: 5vh;
	background-color: #343434;
	align-items: center;

}


.jsSkillBubble {
	display: flex;
	width: 97.75vw;
	height: 20vw;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	background-color: #D32222;

}




.skillsPyramidTier3 {
	display: flex;
	background-color: #24262E;
	height: 100vh;
	align-items: flex-end;
	border-top-left-radius: 5vw;
	border-top-right-radius: 5vw;

}





.gitSkillBubble {
	display: flex;
	border-style: solid;
	border-color: #7F106D;
	border-radius: 50vw;
	width: 19vw;
	height: 19vw;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	border-width: 2vw;
	margin-bottom: 1vh;



}


.figmaSkillBubble {
	display: flex;
	border-style: solid;
	border-color: #7F106D;
	border-radius: 50vw;
	width: 19vw;
	height: 19vw;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	border-width: 2vw;
	margin-bottom: 1vh;

}


.projectsHeader {
	border-style: none none solid;
	border-color: white;
	width: 50%;
	padding: 2vw;
	text-align: left;
	color: white;
	font-size: 1.5em;
	margin-top: 10vw;
	
}

.projectsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}
#pics {
	min-height: 30vh;
	max-height: 60vh;
	max-width: 90vw;
	padding: 1.5vw;
	
}

.newDiv {
	width: 85vw;
	padding: 1vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 3vw;
	margin-top: 5vh;
}
.projectDescriptions {

	color: white;
	text-align: center;
	font-size: 1em;
}
/*.projectInfoContainers {
	border-style: solid;
	border-color: white;
	opacity: .5;
	align-self: center;
	margin-bottom: 20vw;
}*/


.languageIconContainer{
	display: inline-flex;
	justify-content: flex-start;
	font-size: 5vw;
	align-self: center;
	margin-left: 8vw;



}

.languageIcons {
	width: 15vw;
	height: 15vw;
	padding: 2vw;


}

.projectBtnsContainer {
	display: flex;
	flex-direction: column;
	color: white;
	text-align: center;
	border-style: none none solid;
	border-color: white;
	border-width: 1vw;
	width: 90vw;
 	padding-bottom: 1vh;



}

.projectBlurbs {
	text-align: left;
	margin-right: 8vw;
	font-size: 1.25em;
}
.linkDivs{
	color: white;
	border-style: solid;
	border-color: #FF2E00 #1B1C22;
	padding: 2vw;
	margin: 1vw;
	align-self: flex-end;
	margin-right: 3vw;
	
}

.linkDivsGit{
	color: white;
	border-style: solid;
	border-color: #FF2E00 #1B1C22;
	padding: 2vw;
	margin: 1vw;
	align-self: flex-end;
	margin-right: 3vw;
	margin-bottom: 5vh;
	
}
.contactMeHeader {
	font-size: 1.5em;
	display: flex;
	justify-content: space-evenly;
	justify-content: center;
	align-items: center;
	border-style: none none solid;
	border-color: white;
	padding-top: 3vh;
	padding-bottom: 3vh;
	color: white;


}
.contactMeContainer {
	font-size: 1.2em ;
	color: white;
	text-align: center;
	padding: 4vw;
	
}

.toTopBtn {
	width: 15vw;
	height: 15vw;
	align-self: flex-end;
	border-radius: 50%;
	margin-left: 30vw;
	border-style: solid;
	border-color: red;
	border-width: .2rem;
	background-color:#1B1C22;
	color: white;
	font-size: .5em;


}



.contactMeForm {
	display: grid;
	justify-content: center;
}

label {
	color: white;
	padding-bottom: 1.5vh;
	padding-top: 1.5vh;
}

input {
	height: 10vw;

	
}
textarea {
	height: 20vw;
	margin-bottom: 4vw;

}


#contactMeSubmitBtn {
	max-width: 20vw;
	height: 15vw;
	margin-bottom: 3vw;
	border-radius: 1.5vw;
	margin-left: 40vw;
	border-style: solid;
	border-width: 5px;
	border-color: red;
	background-color: #1B1C22;
	color: white;
	margin-top: 2.5vh;

}
.socialLinks {
	display:flex;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	color: white;
	height: 25vw;
	padding-top: 5vh;

	
}

svg {
	height: 13vw;
	width: 13vw;
	padding: 1vw;
}

.githubIcon {
	padding: 1vw;
	height: 15vw;
	width: 20vw;

}

/** {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/

/*////////////////////////////////////////////////////////////////////////////////////////*/



/*@media (min-width: 700px max-width: 1675px) {
	p {
		color: red;
	}
}
*/

/*////////////////////////////////////////////////////////////////////////////////////////*/




@media (min-width: 700px) {
	.initialGreeting {
		font-size: 5em;

	}
	.attributeAnimations {
		padding: 0 ;
	}
	.nameIntro {
		padding: 0;
	
		text-indent: 45vw;
		font-size: .75em;

	}
	.hi {
		display: inline-flex;
		padding: 0;
		text-indent: 40vw;
		font-size: 1em;
		min-height: 20vh;
		justify-content: flex-start;
	}

.aboutMeHeader{
	display: flex;
	color: white;
	font-size: 2em;
	justify-content: flex-end;
	width: 100%;

}

.x {
	width: 11%;
}

.headerBtns{
	font-size: 20px;
	max-height: 10vh;
	background-color: #1B1C22;
	color: white;
	padding: .5vw;
	border-style: none none solid;
	border-color: white;
	
}

.headerBtns:hover {
	cursor: pointer;
}

 .selfieContainer {
 	flex-direction: row-reverse;
 	justify-content: space-around;
 	margin-right: 0;

}


.facePic {
	min-width: 18vw;
	max-width: 18vw;
	align-self: flex-start;
	border-radius:5vw;
	margin-top: 3vw;
	margin-right: 17vw;
	box-shadow: -7px -10px 0px -1px #7F106D;

	}

   .aboutMeBlurbWrap {
   	min-width: 30vw;
		max-width: 55vw;
		min-height: 25vh;
		max-height: 60vh;
   	background-color: darkgrey;
   	margin-left: 0;
   	margin-top: 3vh;
   	border-radius: 10px;
   	align-self: flex-end;
   	font-size: 1.5em;
   	padding-top: 3vh;
   }

 /*  @media (min-width:100px) {
   	.aboutMeBlurbWrap {
   		font-size: 2em;
   	}
   }*/
  


.skillsPyramidTier3 {
	display: flex;
	background-color: #24262E;
	height: 100vh;
	align-items: flex-end;
	border-top-left-radius: 5vw;
	border-top-right-radius: 5vw;

 }

	.skillBubblesContainer {
	display: flex;
	color: white;
	box-shadow:  -2px 11px 13px -6px white;
	height: 75vw;
	width: 90vw;
	flex-direction: column-reverse;
	margin-right: 22vw;
	}

.jsSkillBubble {
	display: flex;
	width: 97.75vw;
	height: 15vw;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	background-color: #D32222;

}
.attributeAnimations {
	display: inline-flex;
	font-size: 32px;
	max-height: 80vh;

}
.headerAttributeBox1 {
max-height: 10rem;
margin: 1vw;
font-size: 1.5em;
text-align: center;
margin-bottom: 1rem;
width: 45vw;


}
.headerAttributeBox2 {
	max-height: 10rem;
margin: 1vw;
font-size: 1.5em;
text-align: center;
margin-bottom: 1rem;
width: 50vw;

  	
}


.headerAttributeBox3 {
max-height: 10rem;
margin: 1vw;
font-size: 1.5em;
text-align: center;
margin-bottom: 1rem;
width: 55vw;



}


@keyframes headerAttributeBox1Animation {
0% {opacity: 0%;
  	margin-right: -2.5vw;}
  25% { opacity: 25%;
  margin-right: -5vw;}
   50% { opacity: 50%;
   margin-right: -7.5vw;}
    75% { opacity: 75%;}
     100% { opacity: 100%;
     margin-right: 65vw;
  background-color: #A3148C;}
 	}

 	@keyframes headerAttributeBox2Animation {
   0% {opacity: 0%;
  	margin-right: -2.5vw;}
  25% { opacity: 25%;
  margin-right: -5vw;}
   50% { opacity: 50%;
   margin-right: -7.5vw;}
    75% { opacity: 75%;}
     100% { opacity: 100%;
     margin-right: 60vw;
  background-color: #A3148C;}
 	}

 	@keyframes headerAttributeBox3Animation {
  0% {opacity: 0%;
  	margin-right: -2.5vw;}
  25% { opacity: 25%;
  margin-right: -5vw;}
   50% { opacity: 50%;
   margin-right: -7.5vw;}
    75% { opacity: 75%;}
     100% { opacity: 100%;
     margin-right: 55vw;
  background-color: #A3148C;}
 	}
#greetingBoxBtn {
	align-self: center;
	
	
}



.projectsHeader {
	font-size: 2em;
	align-self: flex-start;
}
#pics {
	max-height: 20vw;
	min-width:40vw;
	padding: 1.5vw;
	margin-left: 0;
	align-self: flex-start;
}

.newDiv {
	width: 85vw;
	padding: 1vw;
	display: flex;
	flex-direction: row;
	justify-content: center;

}



.projectDescriptions{
	font-size: 3em;
	color: white;
	text-align: center;
	padding: 1.5vw;
	margin-left: 0vw;

}
.languageIcons{
	width:4vw;
	height: 4vw;

}

.projectBlurbs {
	text-align: center;
	margin-right: 8vw;
	font-size: 3em;
}

.projectBtnsContainer{
	font-size: .5em;
	display: flex;
	flex-direction: column;
	color: white;
	border-style: none none solid;
	border-color: white;
	border-width: .3vw;
 	padding-bottom: 1vh;
}



.linkDivs{
	color: white;
	border-style: solid;
	border-color: #FF2E00 #1B1C22;
	padding: 1vw;
	margin: 1vw;
	align-self: flex-end;
	margin-right: 3vw;
	font-size: 2em;
}

.linkDivsGit{
	color: white;
	border-style: solid;
	border-color: #FF2E00 #1B1C22;
	padding: 1vw;
	margin: 1vw;
	align-self: flex-end;
	margin-right: 3vw;
	margin-bottom: 5vh;
	font-size: 2em;

	
}


.contactMeHeader {
	text-align: left;
	font-size: 2.5em;
	display: flex;
	justify-content: space-evenly;
	justify-content: center;
	align-items: center;
	border-style: none none solid;
	border-color: white;
	padding: 3vw;
	color: white;


}
.toTopBtn {
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	margin-bottom: 2vh;
	border-style: solid;
	border-color: red;
	border-width: .2rem;
	background-color:#1B1C22;
	color: white;
	font-size: .65em;

}
.contactMeContainer {
	font-size: 1.5em;
	text-align: center;
}
.contactMeForm {

}
input {
	font-size: 1em;
	max-height: 5vh;
	max-width: 40vw;
	margin: 1vw 0 1vh 0;
	
}
textarea {
	font-size: 1.25em;
	max-height: 15vh;
	width: 40vw;
	margin-bottom: 3vw;
	
}



#contactMeSubmitBtn {
	width: 15vw;
	height: 8vh;
	margin-bottom: 3vw;
	border-radius: 1.5vw;
	margin-left: 26vw;
}
.socialLinks{
	height: 110%;
}
svg {
	height: 100px;
	width: 100px;
	padding: 1vw;
}

.githubIcon {
	height: 100px;
	width: 100px;
	padding: 1vw;

}

/** {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/
