html {
	background-color: #1B1C22;
	scroll-behavior: smooth;

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 


}

body { margin:0;
padding:0 }
p {
	padding: 1vw;
	color: whitesmoke;
	text-align: center;
}

a:link { color: white; 
text-decoration: none;
font-family: sans-serif;}  

a:visited { color: white;
width: 25%; }



.initialGreeting {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;
	background-color: #1B1C22;
	border-radius: 3vw;
	font-size: 9vw;
	margin-bottom: 10vh;

	
}

@keyframes hi {
	0% {opacity: 0%;}
	100%{opacity: 100%}
  
}

.hi{
	color: #D32222;
	background-color: #1B1C22;
	padding: 1vw;
	padding-left: 40vw;
	font-size: 1.25em;
	
  	
}
@keyframes nameIntro {
	0% {opacity: 0%;
		color: white;}
	100%{opacity: 100%;
		color: white;}
  
}

.nameIntro {

	color: #1B1C22;
	background-color: #1B1C22;
	padding: 1vw;
	margin-bottom: 3vw;
	text-indent: 45vw;
	font-size: 1.1em;
	animation-name: nameIntro;
	animation-delay: 1s;
  	animation-duration: 3s;
  	animation-fill-mode: forwards;

}



.attributeAnimations {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 7vw;
	font-size: 32px;
	

}

@keyframes headerAttributeBox1Animation {
  0% {margin-right: 0vw;
     animation-timing-function: ease-in;}
  25% {margin-right: 20vw;
     animation-timing-function: ease-in;}
  50%   {margin-right: 40vw;
     animation-timing-function: ease-in;}
  75%   {margin-right: 60vw;
     animation-timing-function: ease-in;}
  100% {margin-right: 85vw;
   	 animation-timing-function: ease-in;
 	background-color: #A3148C;
 	}
  
}

.headerAttributeBox1 {
	display: flex;
	width: 100vw;
	padding: 1vw;
	border-radius: 5vw;
	justify-content: flex-end;
	margin: 1.5vw;
	animation-name: headerAttributeBox1Animation;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
  	
	
}

@keyframes headerAttributeBox2Animation {
  0% {margin-right: 0vw;
     animation-timing-function: ease-in;}
  25% {margin-right: 10vw;
     animation-timing-function: ease-in;}
  50%   {margin-right: 20vw;
     animation-timing-function: ease-in;}
  75%   {margin-right: 30vw;
     animation-timing-function: ease-in;}
  100% {margin-right: 42.5vw;
     animation-timing-function: ease-in;
 	background-color: #91127C;}
 

  
}

.headerAttributeBox2 {
	display: flex;
	width: 92vw;
	justify-content: flex-end;
	padding: 1vw;
	margin: 1.5vw;
	border-radius: 5vw;
	animation-name: headerAttributeBox2Animation;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
  	
}

@keyframes headerAttributeBox3Animation {
  0% {opacity: 0%;
  	margin-left: -2.5vw;}
  25% { opacity: 25%;
  margin-left: -5vw;}
   50% { opacity: 50%;
   margin-left: -7.5vw;}
    75% { opacity: 75%;}
     100% { opacity: 100%;
     margin-left: -12vw;}
 	}


.headerAttributeBox3 {
	display: flex;
	width: 100vw;
	padding: 1vw;
	border-radius: 5vw;
	justify-content: flex-end;
	animation-name: headerAttributeBox3Animation;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
  	background-color: #7F106D;
  	margin: 1.5vw;

}

/*
#greetingBoxBtn {
	position: absolute;
	margin-top: 100vw;
	align-self: flex-start;
	width: 50vw;
	height: 12vw;
	padding: 2vw;
	border-style: solid;
	border-color: orange;
	background-color:  #272932;
	color: orange;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 1vw;
	text-align: center;
	box-shadow: 0px 11px 14px -7px red;
	
}*/



.aboutMeHeader{
	display: flex;
	color: white;
	font-size: 2em;
	justify-content: center;

}
.headerBtns {
	height: 15vw;
	background-color: #272932;
	color: white;
	padding: 2vw;
	border-style: solid;
	border-width: .1vw;
	border-color: #363945;
	width: 100%;

}

.x {
	width: 25%;
}

.selfieContainer {
	display: flex;
	flex-direction: column;
	margin-right: 10vw;


}

.facePic {	
	min-width: 50vw;
	max-width: 50vw;
	align-self: flex-end;
	border-radius:5vw;
	margin-top: 10vw;
	box-shadow: -7px -10px 0px -1px #7F106D;
}

.aboutMeHeaderStyling{
	padding: 2vw;
	color: whitesmoke;
	border-style: solid;
	border-color: #1B1C22 #1B1C22 white;
	width: 50%;
	font-size: .5em;
}

.skillBubblesContainer {
	display: flex;
	color: white;
	box-shadow:  -2px 11px 13px -6px white;
	height: 85vw;
	width: 100vw;
	flex-direction: column-reverse;
	margin-left: 3.2vw;

}

.skillsPyramidBtm {
	display: flex;
	width: 100vw;
	height: 15vw;
	justify-content: center;
	margin-bottom: 3vw;
}

.htmlSkillBubble {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50vw;
	height: 6vh;
	background-color: #283618;
	border-bottom-left-radius: 5vw;


}

.CSSSkillBubble {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50vw;
	height: 6vh;
	background-color: #3581B8;
	border-bottom-right-radius: 5vw;


}

.skillsPyramidTier2 {
	display: flex;
	min-height: 5vh;
	background-color: #343434;
	align-items: center;

}


.jsSkillBubble {
	display: flex;
	width: 97.75vw;
	height: 20vw;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	background-color: #D32222;

}




.skillsPyramidTier3 {
	display: flex;
	background-color: #24262E;
	height: 100vh;
	align-items: flex-end;
	border-top-left-radius: 5vw;
	border-top-right-radius: 5vw;

}





.gitSkillBubble {
	display: flex;
	border-style: solid;
	border-color: #7F106D;
	border-radius: 50vw;
	width: 19vw;
	height: 19vw;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	border-width: 2vw;
	margin-bottom: 1vh;



}


.figmaSkillBubble {
	display: flex;
	border-style: solid;
	border-color: #7F106D;
	border-radius: 50vw;
	width: 19vw;
	height: 19vw;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	border-width: 2vw;
	margin-bottom: 1vh;

}


.projectsHeader {
	align
	border-style: solid none none;
	border-color: white;
	width: 80%;
	padding: 2vw;
	text-align: left;
	color: white;
	font-size: 1.5em;
	margin-top: 10vw;
	
}

.projectsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}
#pics {

	height: 60vw;
	max-width: 75vw;
	padding: 1.5vw;
	margin-left: 11vw;

	
}

.projectDescriptions {
	font-size: 9vw;
	padding: 3vw;
}

.newDiv {
	width: 85vw;
	padding: 1vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 3vw;




}
.projectDescriptions {
	color: white;
	text-align: center;
	padding: 1.5vw;
	margin-left: 11vw;
}
.projectInfoContainers {
	border-style: solid;
	border-color: white;
	opacity: .5;
	align-self: center;
	margin-bottom: 20vw;
}

.languageIconContainer{
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 80vw;
	font-size: 5vw;



}

.languageIcons {
	width: 15vw;
	height: 15vw;
	padding: 2vw;


}

.projectBtnsContainer {
	display: flex;
	flex-direction: column;
	color: white;
	text-align: center;
	border-style: none none solid;
	border-color: white;
	border-width: 1vw;
	width: 90vw;
 	padding-bottom: 1vh;



}


.linkDivs{
	color: white;
	border-style: solid;
	border-color: #FF2E00 #1B1C22;
	padding: 2vw;
	margin: 1vw;
	align-self: flex-end;
	margin-right: 3vw;
	
}
.contactMeHeader {
	font-size: 1.75em;
	display: flex;
	justify-content: space-evenly;
	justify-content: center;
	align-items: center;
	border-style: none none solid;
	border-color: white;

	padding: 3vw;
	color: white;


}
.contactMeContainer {
	font-size: 1.2em ;
	color: white;
	text-align: center;
	padding: 4vw;
	
}

.toTopBtn {
	width: 25vw;
	height: 25vw;
	align-self: flex-end;
	border-radius: 50%;
	margin-left: 30vw;
	border-style: solid;
	border-color: red;
	border-width: .2rem;
	background-color:#1B1C22;
	color: white;
	font-size: .5em;

}



.contactMeForm {
	display: grid;
	justify-content: center;
}

label {
	color: white;
	margin-top: 1vw;
}

input {
	height: 10vw;
	margin: 2vw 0 1.5vw 0;
}
textarea {
	height: 20vw;
	margin-bottom: 4vw;

}


#contactMeSubmitBtn {
	width: 35vw;
	height: 15vw;
	margin-bottom: 3vw;
	border-radius: 1.5vw;
	margin-left: 40vw;
}
.socialLinks {
	display:flex;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	color: white;
	height: 25vw;
	border-style: solid none none;
	border-style: white;
}

svg {
	height: 13vw;
	width: 13vw;
	padding: 1vw;
}

.githubIcon {
	padding: 1vw;
	height: 15vw;
	width: 20vw;

}

/** {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/

/*////////////////////////////////////////////////////////////////////////////////////////*/



/*@media (min-width: 700px max-width: 1675px) {
	p {
		color: red;
	}
}
*/

/*////////////////////////////////////////////////////////////////////////////////////////*/




@media (min-width: 700px) {
	.initialGreeting {
		font-size: 5em;

	}
	.attributeAnimations {
		padding: 0 ;
	}
	.nameIntro {
		padding: 0;
	
		text-indent: 45vw;
		font-size: .75em;

	}
	.hi {
		display: inline-flex;
		padding: 0;
		text-indent: 40vw;
		font-size: 1em;
		min-height: 20vh;
	}


.headerBtns{
	font-size: .55em;
	max-width: 25%;
	min-height: .5rem;
	max-height: .6rem;
	background-color: #1B1C22;
	color: white;
	padding: 2vw;
	border-style: none none solid;
	border-width: .1vw;
	border-color: white;
	
}

.headerBtns:hover {
	cursor: pointer;
}

 .selfieContainer {
 	flex-direction: row-reverse;
 
 	justify-content: space-between;
}


.facePic {

	min-width: 20rem;
	max-height: 20rem;
	border-radius:50%;
	box-shadow: none;
	margin-bottom: 20vh;
	margin-top: 0;
	/*margin-left: 10vw;*/

	}

   .aboutMeBlurbWrap {
   	min-width: 10rem;
		min-height: 25rem;
		max-width: 50vw;
		max-height: 25rem;
   	background-color: darkgrey;
   	/*margin-left: 21.5vw;*/
   	border-radius: 10%;



   }

	p {
		display: inline;
		flex-grow: 1;
		font-size: 1.2em;
		
		padding: 2vw;
	}
/*@media (min-width: 1150px ) {
	p {
		font-size: 20px;
	}
}*/

.skillsPyramidTier3 {
	display: flex;
	background-color: #24262E;
	height: 100vh;
	align-items: flex-end;
	border-top-left-radius: 5vw;
	border-top-right-radius: 5vw;

 }

	.skillBubblesContainer {
	display: flex;
	color: white;
	box-shadow:  -2px 11px 13px -6px white;
	height: 75vw;
	width: 90vw;
	flex-direction: column-reverse;
	margin-right: 22vw;
	}

.jsSkillBubble {
	display: flex;
	width: 97.75vw;
	height: 15vw;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	background-color: #D32222;

}
.attributeAnimations {
	display: inline-flex;
	font-size: 32px;
	max-height: 80vh;

}
.headerAttributeBox1, .headerAttributeBox2, .headerAttributeBox3 {
max-height: 10rem;
margin: 1vw;
font-size: 1.5em;
text-align: center;
margin-bottom: 1rem;
width: 100%;


}
@keyframes headerAttributeBox1Animation {
0% {opacity: 0%;
  	margin-right: -2.5vw;}
  25% { opacity: 25%;
  margin-right: -5vw;}
   50% { opacity: 50%;
   margin-right: -7.5vw;}
    75% { opacity: 75%;}
     100% { opacity: 100%;
     margin-right: 65vw;
  background-color: #A3148C;}
 	}

 	@keyframes headerAttributeBox2Animation {
   0% {opacity: 0%;
  	margin-right: -2.5vw;}
  25% { opacity: 25%;
  margin-right: -5vw;}
   50% { opacity: 50%;
   margin-right: -7.5vw;}
    75% { opacity: 75%;}
     100% { opacity: 100%;
     margin-right: 50vw;
  background-color: #A3148C;}
 	}

 	@keyframes headerAttributeBox3Animation {
  0% {opacity: 0%;
  	margin-right: -2.5vw;}
  25% { opacity: 25%;
  margin-right: -5vw;}
   50% { opacity: 50%;
   margin-right: -7.5vw;}
    75% { opacity: 75%;}
     100% { opacity: 100%;
     margin-right: 35vw;
  background-color: #A3148C;}
 	}
/*#greetingBoxBtn {
	margin-top:0;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	padding: 2vw;
	border-style: solid;
	border-color: orange;
	background-color:  #272932;
	color: orange;
	font-weight: bold;
	font-size: 1rem;
	box-shadow: 0px 11px 14px -7px red;
	
	
}*/
.projectsHeader {
	font-size: 2em;
}
#pics {
	max-height: 25vw;
	min-width:50vw;
	padding: 1.5vw;
	margin-left: 0;
}
.projectDescriptions{
	font-size: .5em;
	color: white;
	text-align: center;
	padding: 1.5vw;
	margin-left: 0vw;
}
.languageIcons{
	width:4vw;
	height: 4vw;
	padding: .7rem, .35rem;
}
.projectBtnsContainer{
	font-size: .5em;
	display: flex;
	flex-direction: column;
	color: white;
	border-style: none none solid;
	border-color: white;
	border-width: 1vw;
 	padding-bottom: 1vh;
}
.projectBlurbs {
	font-size: .75em;
	text-align: center;
	max-width:75vw ;
}


.linkDivs{
	color: white;
	border-style: solid;
	border-color: #FF2E00 #1B1C22;
	padding: 1vw;
	margin: 1vw;
	align-self: flex-end;
	margin-right: 3vw;
	font-size: .5em;
}



.contactMeHeader {
	text-align: left;
	font-size: 2.5em;
	display: flex;
	justify-content: space-evenly;
	justify-content: center;
	align-items: center;
	border-style: none none solid;
	border-color: white;
	padding: 3vw;
	color: white;


}
.toTopBtn {
	width: 20vw;
	height: 7vw;
	align-self: flex-end;
	border-radius: 20px;
	margin-left: 30vw;
	border-style: solid;
	border-color: red;
	border-width: .2rem;
	background-color:#1B1C22;
	color: white;
	font-size: .65em;

}
.contactMeContainer {
	font-size: 1.75em;
	text-align: center;
}
.contactMeForm {

}
input {
	font-size: 1.5em;
	height: 5vw;
	margin: 2vw 0 1.5vw 0;
	
}
textarea {
	font-size: 1.25em;
	height: 20vw;
	width: 40vw;
	margin-bottom: 3vw;
	
}



#contactMeSubmitBtn {
	width: 41vw;
	height: 5vw;
	margin-bottom: 3vw;
	border-radius: 1.5vw;
	margin-left: 0vw;
}
.socialLinks{
	height: 110%;
}
svg {
	height: 100px;
	width: 100px;
	padding: 1vw;
}

.githubIcon {
	height: 100px;
	width: 100px;
	padding: 1vw;

}

/** {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/

